@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background: rgb(255, 255, 255);
  background-image: radial-gradient(rgb(199, 199, 199) 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -19px -19px;
}

.dark {
  background: white;
  background-image: radial-gradient(rgb(61, 61, 61) 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -19px -19px;
} */

footer div {
  height: 50px;
}

.self {
  border-radius: 50%;
}
